name: "Sample React CI Pipeline / Workflow"

on: 
    push: 
        branches: 
            - master
            - main

jobs:
    build-and-test: 
        runs-on: ubuntu-latest
        steps: 
            - name: "Setup Node JS"
              uses: actions/setup-node@v4 #uses: tells us to use which action, in this case we are using setup-node action to setup node js environment
              with: 
                    node-version: "24" #specifies the version of node js to be used in the environment
                   
            - name: "Check node version" 
              run : node --version #checks the version of node js installed in the environment
            
            
            - name: "Clone the repository"
              uses: actions/checkout@v3 #In this case we are using checkout action to clone the repository 

            - name: "Install dependencies"
              run: npm install #installs the dependencies specified in package.json file

            - name: "List directories"
              run: ls #lists the files in the current directory to verify that the repository has been cloned successfully

            - name: "Run tests"
              run: npm test #runs the tests specified in the package.json file

            - name: "Build the application"
              run: npm run build 